@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}
body {
    background-image: linear-gradient(to bottom, #4CC7C5, #4CC7C5);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #015958;
}
h1 {
    color: #D19979;
    text-align: center;
    text-shadow: 1px 1px 2px #9b7158;
}
h2 {
    color: #e77234;
}
 p {
    text-align: justify;
 }